.page {
    background-color: #2A2C2F;
    color: #ffffff;
    padding-top: 28px;
    margin:0;
    text-rendering: optimizeLegibility;
}

@media screen and (max-width: 1024px) {
    .page {
        padding-top: 24px;
    }
}
    
@media screen and (max-width: 768px) {
    .page {
        padding-top: 20px;
    }
}
    
@media screen and (max-width: 480px) {
    .page {
        padding-top: 16px;
    }
}
    
@media screen and (min-width: 1440px) {
    .page {
        padding-top: 36px;
    }
}
    
@media screen and (min-width: 1920px) {
    .page {
        padding-top: 48px;
    }
}