.page {
    color: #ffffff;
    padding-top: 28px;
    margin:0;
    text-rendering: optimizeLegibility;
}

@media screen and (max-width: 1024px) {
    .page {
        padding-top: 24px;
    }
}
    
@media screen and (max-width: 768px) {
    .page {
        padding-top: 20px;
    }
}
    
@media screen and (max-width: 480px) {
    .page {
        padding-top: 16px;
    }
}
    
