.lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 984px;
    margin: auto;
    margin-top: 56px;
}

@media screen and (max-width: 1024px) {
    .lead {
        max-width: calc(1024px - 96px);
        margin: 32px 24px;
    }
}
    
@media screen and (max-width: 768px) {
    .lead {
        max-width: calc(768px - 96px);
        margin: 24px 24px;
    }
}
    
@media screen and (max-width: 480px) {
    .lead {
        max-width: calc(480px - 32px);
        margin: 16px 16px;
    }
}
    
@media screen and (min-width: 1280px) {
    .lead {
        max-width: 984px;
        margin: 56px auto;
    }
}