.place__paragraphs-top {
  margin: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: #ffffff;
}

@media only screen and (max-width: 768px) {
  .place__paragraphs-top {
    font-size: 16px;
  }
}

@media only screen and (max-width: 320px) {
  .place__paragraphs-top {
    font-size: 16px;
  }
}
