.header__lang-link {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 117%;
  text-decoration: none;
  color: #ffffff;
}



.header__lang-link:hover {
  opacity: 70%;
}



@media (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 111%;
  }
}
