.place {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  row-gap: 48px;
}
@media (max-width: 1024px) {
  .place {
    column-gap: 32px;

  }
}


@media (max-width: 768px) {
  .place {
    column-gap: 28px;

  }
}


@media (max-width: 480px) {
  .place {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 32px;

    
    
  }
  .place > *:not(img) {
    margin: 0 16px;

  }
  
  .place__title {
    order: 4;
  }

  .place__website {
    order: 3;
  }

  .place__image {
    order: 2;
  }

  .place__description {
    order: 1;
  }
}



